<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Aahan.wefix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.PaidCallLogActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.paymentLogActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.WarrantyLogHistoryActivity" />
        <activity android:name=".ui.DisplayActivity" />
        <activity android:name=".ui.ChangePasswordActivity" />
        <activity
            android:name=".ui.LogDetailsActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MessageActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>